body{
  font-family: Arial;
  font-size: 10px;
}

p{
  margin: 0;
}

.flex-box{
  padding-bottom: 10px;
  height: 150px ;
  width: 200px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightslategray;
  border-radius: 3px;
}

.title-container{
  margin-top: 10px;
  display: flex;
}

.title-name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  
}

.timer-icon {
  height: 40px;
  width: 40px;

}

.timer-container {
  margin: 5px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px ;
  width: 80px ;
  background-color: rgb(238, 236, 236);
  border-radius: 4px;

}

.timer-info,
.timer-count{
  margin: 2.5px;
}

.button-container{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
.start-button,
.reset-button,
.stop-button {
  height: 20px ;
  width: 50px ;
  font-size: 10px;
  background-color: rgb(238, 236, 236);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.15s;
  text-align: center;
}

.start-button:hover,
.reset-button:hover,
.stop-button:hover {
  opacity: 0.8;
}

.start-button:active,
.reset-button:active,
.stop-button:active{
  opacity: 0.5;
}
